@model UpdateDiscountCouponDtos.Data
@{
    ViewData["Title"] = "UpdateDiscount";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Kupon Güncelleme</h1>
<div class="container">
    <form class="form-control" method="post" asp-action="UpdateDiscount2">
        <input type="hidden" asp-for="DiscountCouponId"/>
        <label class="form-control">Kupon Adı</label>
        <input type="text" asp-for="Code" />
        <br />
        <label class="form-control">Kupon Oranı</label>
        <input type="text" asp-for="Rate" />
        <br />
        <button class="btn btn-success">Kupon Güncelle</button>
    </form>
</div>

